.video-player {
	
}

.video-box {
	min-height: 60vh;
}

.video-container {
	/*margin-top: 3rem; */
}

.ybb-video-overlay {

	position: absolute;
	top: 2rem;
	z-index: 99999;
    width: 100%;
}

.ybb-info-overlay {

	position: absolute;
	bottom: 5rem;
	z-index: 99999;
    width: 100%;
}